@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	
	background: url("pink1.jpg") no-repeat center center fixed;
	background-position: center;
	object-fit: cover;
	background-size: cover;
	width: 100%;
	height: 100vh;
	overflow:hidden;
}
.box{
    z-index: 20;
    background-color: #fff;
    border-radius: 15px;
    height: auto;
    padding:35px 45px;
    margin: auto;
    width: 50%;
    border: 2px solid brown;
    box-shadow: inset 0 0 10px brown;
}
.box i{
    font-size: 35px;
}
.quote{
    font-size: 25px;
    font-family: Fondamento ;
    font-weight: 500;
}
.show header{
    text-align: center;
    margin:100px 0px;
    font-size: 30px;
    color:rgb(68, 17, 17);
    text-decoration:underline brown;
    text-underline-position: under;
    font-weight: 100;
}
.author{
    text-align: right;
    padding-top: 10px;
    font-size: 22px ;
}
#btn{
    margin-top: 20px;
    padding: 10px 15px;
    background-color:rgba(197, 68, 111, 0.959);
    color:cornsilk;
    border-radius: 10px;
    cursor: pointer;
}
.show{
    z-index: 2;  
}
@media(max-width:900px){
    .box{
        width: 75%;
        padding:25px 25px;
    }
    .quote{
        font-size: 20px;
    }
    .author{
        font-size: 18px ;
    }
    .box i{
    font-size: 25px;
    }
}
